{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 offset-sm-2">
			<h1 class="text-center mt-3 mb-3">Welcome to polls List!</h1>
			{% include "message.html" %}

			<!-- Button like name, date, vote -->
			<a {% if 'name' in request.GET %}
							class="btn btn-warning mb-3" href="?"
					{% else %}
							class="btn btn-primary mb-3"  href="?name=True"
					{% endif %} 
							role="button">
			<i class="fas fa-sort-alpha-down"></i> Name</a> 
			<a {% if 'date' in request.GET %}
							class="btn btn-warning mb-3" href="?"
					{% else %}
							class="btn btn-primary mb-3"  href="?date=True"
					{% endif %}
							role="button">
			<i class="fas fa-sort-alpha-down"></i> Date</a> 
			<a {% if 'vote' in request.GET %}
							class="btn btn-warning mb-3" href="?"
					{% else %}
							class="btn btn-primary mb-3"  href="?vote=True"
					{% endif %} 
							role="button">
			<i class="fas fa-sort-alpha-down"></i> Vote</a> 
			
			<!-- Add button -->
			<a class="btn btn-primary mb-3 float-right" href="{% url 'polls:add' %}" role="button">Add <i class="fas fa-plus"></i></a>

			<!-- Form to take input from user for searching polls-->
			<form class="form-inline">
					<div class="form-group mr-sm-2 mb-2">
							<input type="search" class="form-control" name="search" placeholder="Search" value='{{ search_term }}'>
					</div>
					<button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i></button>
			</form>

			<!-- Displaying polls table -->
			<ul class="list-group">
				{% for poll in polls %}
					<li class="list-group-item">
							<a href="{% url 'polls:detail' poll.id %}">
									{{ poll.text|truncatechars:25 }}
									<!-- round tick if the poll is not active -->
									{% if not poll.active%}
											<i class="fas fa-check-circle ml-2"></i>
									{% endif %}
							</a>

							{% if request.user == poll.owner %}
						
								<!-- Delete poll Button-->
								<a href="{% url 'polls:delete_poll' poll.id %}"  data-toggle="tooltip" data-placement="top"
								title="Delete Poll" onclick="return confirm('Are you sure? Do you want to delete it')">
									<i class="fas fa-trash float-right btn btn-danger btn-sm"></i>
								</a>

								{% if poll.active %}

									<!-- End poll Button-->
									<a href="{% url 'polls:end_poll' poll.id %}" data-toggle="tooltip" data-placement="top"    title="End Poll" onclick="return confirm('Are you sure ?')">
										<i class="fas fa-step-forward float-right btn btn-warning btn-sm mr-1"></i>
									</a>
									
									<!-- Edit poll Button-->
									<a href="{% url 'polls:edit' poll.id %}" class="mr-3" data-toggle="tooltip" data-placement="top" title="Edit Poll">
										<i class="fas fa-pencil-alt float-right btn btn-primary btn-sm mr-1"></i>
									</a>

									<!-- Edit poll Button-->
									<a href="{% url 'polls:view_poll' poll.id %}" class="mr-3" data-toggle="tooltip" data-placement="top" title="view Poll">
										<i class="fas fa-eye float-right btn btn-secondary btn-sm mr-1"></i>
									</a>
								{% endif %}
							{% endif %}
					</li>

				{% endfor %}
			</ul>
			<!-- pagination -->
			<nav class="mt-3">
				<ul class="pagination">
					{% if polls.has_previous %}
						<li class="page-item">
						<a class="page-link" href="?page=1&{{ params }}">First</a></li>
						<li class="page-item">
						<a class="page-link" href="?page={{ polls.previous_page_number }}&{{ params }}">Previous</a></li>
					{% endif %}

					<li class="page-item active"><a class="page-link" href="">{{ polls.number }}</a></li>

					{% if polls.has_next %}
						<li class="page-item">
						<a class="page-link" href="?page={{ polls.next_page_number }}&{{ params }}">Next</a></li>
						<li class="page-item">
						<a class="page-link" href="?page={{ polls.paginator.num_pages }}&{{ params }}">Last</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
</div>

{% endblock content %}